@model EventPlanner.Models.Models.Home.MyEventsViewModel
@using EventPlanner.Web.Helpers
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    ViewBag.Title = "Home Page";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(HttpContext.Current.User.Identity.GetUserId());
}

<h2>My events</h2>
<h4 class="">Hello @user.Name!</h4>
@if (Model.Events.Count > 0)
{
    <p class="">Here is a list of events you created:</p>
    <div class="row row-adjust v-space15" id="start">

        <div class="list-group col-md-9">
            @foreach (var e in Model.Events)
            {
                <div class="list-group-item row row-adjust">
                    <div class="col-md-8">
                        <div>
                            <a href="@Url.Action("Index", "Vote", new { eventHash = e.Id.GetUniqueUrlParameter() })" class="text-primary lead link-no-underline">@e.Title</a>
                        </div>
                        <a href="@Url.Action("Index", "Vote", new { eventHash = e.Id.GetUniqueUrlParameter() })" class="text-muted link-no-underline overflow-cut">@e.Desc</a>
                    </div>
                    <p class="col-md-2">@e.CreatedOn</p>
                    @Html.ActionLink(" ", "Index", "Event", new { eventHash = e.Id.GetUniqueUrlParameter() }, new { @class = "glyphicon glyphicon-pencil link-no-underline col-md-1 text-grey" })
                    @Html.ActionLink(" ", "Index", "ShareEvent", new { eventHash = e.Id.GetUniqueUrlParameter() }, new { @class = "glyphicon glyphicon-link link-no-underline col-md-1 text-grey" })
                    @*@Ajax.ActionLink("Delete", "Delete", new { id = e.Id) }, new AjaxOptions { HttpMethod = "delete", Confirm = "Delete?"},  new { @class = "glyphicon glyphicon-trash link-no-underline col-md-1 text-grey" })
    @Html.ActionLink("Delete", "Delete", new { id = e.Id })*@
                </div>
            }
        </div>
    </div>
    <hr />
    <p class="v-space15">But there is never enough events in your life....here, create new ones with this button.</p>
}
else {
    <p>You have not created any events yet!</p>
    <p> How is this possible?</p>
    <p>Here, quick, make one with clicking on this button.</p>
}

<div class="row row-adjust">
    @Html.ActionLink("Create new event!", "Index", "Event", null, new { @class = "btn btn-primary btn-lg v-space15" })

</div>