@using Microsoft.AspNet.Identity
@model EventPlanner.Models.Models.Vote.VoteModel
@{
    ViewBag.Title = "Vote";
}


@section Scripts {
    @Scripts.Render("https://maps.googleapis.com/maps/api/js")
    @Scripts.Render("~/Scripts/Custom/GoogleMapsModule.js")
}

<div class="row">
    <div class="col-md-8">
        <h2>
            @Model.EventViewModel.Title
            @*TODO: move this logic to controller*@
            @if (Model.EventViewModel.OthersCanEdit || User.Identity.GetUserId() == Model.EventViewModel.OrganizerId)
            {
                <a href="@Url.Action("Index", "Event", new {id = Model.EventViewModel.Id})">
                    <small>
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit event</span>
                    </small>
                </a>
            }
        </h2>
    </div>

    @*TODO: refactor position of text*@
    <div class="col-md-4" style="padding-top: 3em;">
        <span class="text-muted text-right pull-right">Created on: @Model.EventViewModel.Created.ToShortDateString()</span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Model.EventViewModel.Desc
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("Index", "Vote", FormMethod.Post, new {@class = ""}))
        {
            <div class="row">
                <div class="col-sm-12" id="timesTable">
                    @{Html.RenderPartial("_datesVotes", Model);}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" id="placesTable">
                    @{Html.RenderPartial("_placesVotes", Model);}
                </div>

            </div>


            <input type="submit" class="btn btn-primary pull-right" value="Submit your votes"/>
        }
    </div>

    <div class="col-md-12" id="mapModule">
        @{ Html.RenderPartial("_mapModule");}
    </div>
</div>