@model EventPlanner.Models.Models.Vote.EventViewModel

@{
    ViewBag.Title = "title";
}

<h2>Vote for @Model.Title</h2>
@*TODO: Display glyphicon-pencil redirecting to edit page, when current user is organizer or othersCanEditProperty is true*@
@if (Model.OthersCanEdit)
{
    @Html.ActionLink("", "Index", "CreateEvent", new {id = Model.Id}, new {@class= "glyphicon glyphicon-pencil"})
}

<p class="text-muted">Created on: @Html.DisplayForModel(Model.Created)</p>

<label>@Html.DisplayNameForModel(Model.Desc)</label>
<div>@Html.DisplayForModel(Model.Desc)</div>

@using (Html.BeginForm("Index", "Vote", FormMethod.Post, new {@class = ""})))
{

    @{Html.RenderPartial("DatesVotes", Model);}
    @{Html.RenderPartial("PlacesVotes", Model);}

    <input type="submit" class="btn btn-primary" value="Submit your votes" />
}