@model EventPlanner.Models.Domain.Event

@{
    ViewBag.Title = "Home Page";
}

@*TODO: Can be maybe moved to layout or at least partial view*@
<div class="jumbotron">
    <h1>Event Planner</h1>
    <p class="lead">Some catchy phrase to introduce our supercool app.</p>
    <p><a href="#start" class="btn btn-primary btn-lg">Start now </a></p>
</div>

<div class="row" id="start">
    @using (Html.BeginForm("Index", "CreateEvent", FormMethod.Post, new {@class = ""}))
    {
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Desc)
        @Html.TextAreaFor(m => m.Desc, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpectedLength)
        @Html.TextBoxFor(m => m.ExpectedLength, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ExpectedLength, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OthersCanEdit)
        @Html.EditorFor(m => m.OthersCanEdit, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.OthersCanEdit, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <label>Dates</label>
        <div>Some supercool datepicker</div>

    </div>

    <div class="form-group">
        <label>Places</label>
        <div>Wohoo foursquare module goes here!</div>
    </div>

    <input type="submit" class="btn btn-primary" value="Create an event" />
    }
</div>