@model EventPlanner.Models.Models.EventModel

@{
    ViewBag.Title = "Create Event";
}

<script src="@Url.Content("~/Scripts/Custom/NewTime.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/NewDate.js")"></script>

<h2>Create your event:</h2>

<div class="container">
    @Html.ValidationSummary()
    @using (Html.BeginForm("Index", "Event", FormMethod.Post, new { @class = "" }))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="row" id="intro">

            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Desc)
                @Html.TextAreaFor(m => m.Desc, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ExpectedLength)
                @Html.EditorFor(m => m.ExpectedLength, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ExpectedLength, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OthersCanEdit)
                @Html.EditorFor(m => m.OthersCanEdit, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.OthersCanEdit, "", new {@class = "text-danger"})
            </div>


            <hr/>
            @* NOTE: following code is under construction.. *@
            <div class="form-group" id="containerDates">
                <label for="dp">Choose a date</label>
            <span id="divDate">
                <span id="divcust0" class="divcust0">
                    @for (var i = 0; i < Model.Dates.Count; i++)
                    {
                        //date

                        @Html.EditorFor(m => m.Dates[i].Date, new { @class = "datepicker", type = "date" })

                        //time
                        for (var j = 0; j < Model.Dates[i].Times.Count; j++)
                        {
                            @Html.DropDownListFor(m => m.Dates[i].Times[j], new SelectList(new List<Object>
                            {
                                new {value = "00:00:00", text = "00:00"},
                                new {value = "01:00:00", text = "01:00"},
                                new {value = "02:00:00", text = "02:00"},
                                new {value = "03:00:00", text = "03:00"},
                                new {value = "04:00:00", text = "04:00"},
                                new {value = "05:00:00", text = "05:00"},
                                new {value = "06:00:00", text = "06:00"},
                                new {value = "07:00:00", text = "07:00"},
                                new {value = "08:00:00", text = "08:00"},
                                new {value = "09:00:00", text = "09:00"},
                                new {value = "10:00:00", text = "10:00"},
                                new {value = "11:00:00", text = "11:00"},
                                new {value = "12:00:00", text = "12:00"},
                                new {value = "13:00:00", text = "13:00"},
                                new {value = "14:00:00", text = "14:00"},
                                new {value = "15:00:00", text = "15:00"},
                                new {value = "16:00:00", text = "16:00"},
                                new {value = "17:00:00", text = "17:00"},
                                new {value = "18:00:00", text = "18:00"},
                                new {value = "19:00:00", text = "19:00"},
                                new {value = "20:00:00", text = "20:00"},
                                new {value = "21:00:00", text = "21:00"},
                                new {value = "22:00:00", text = "22:00"},
                                new {value = "23:00:00", text = "23:00"}
                            }, "value", "text", 0))
                        }
                    }


                </span>
                    <input id="btnAdd0" class="add" type="button" value="Add time" onclick="AddTime(this.id);"  />
                </span>
                <br />
                <input type="button" id="btnAddDate" value="Add another date" onclick="AddDate();" />
            </div>
        </div>

        //NOTE: FourSquare module goes here. All html code is renderd inside of ReactJS module.
        <div class="row" id="places">
            <div class="form-group">
                <label>Places</label>
                <p>Search places for your event using FourSquare!</p>
                <div id="FourSquareSearchModule"></div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Create an event" />
    }
</div>


@section scripts
    {
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Typeahead/typeahead.bundle.js")"></script>
    <script type="text/jsx" src="@Url.Content("~/Scripts/Custom/FourSquareSearchModule.jsx")">
    </script>
    <script type="text/jsx">
        React.render(
        <FourSquareApp getDataURL="@Url.Action("GetData", "Event")" preSelectedPlaces={@Html.Raw(Json.Encode(Model.Places))} />, document.getElementById('FourSquareSearchModule'));
    </script>
}