@using EventPlanner.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="text-center">
    <div class="row">
        <h1 class="v-space60">Are you planning an event?</h1>
        <p class="lead v-space40">Just log in, create the event and let others vote about the time and place:</p>

        <section id="loginForm" class="v-space40 col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control vertical-center" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-12" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control vertical-center" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger col-md-12" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                    <hr />
                    <h3>Not registered yet?</h3>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                </div>
            }
        </section>

    </div>
    <div class="row">
        <h4>Or login with Facebook account:</h4>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

